
@model List<TarefaModel>
@{
    ViewData["Title"] = "Listagem de Tarefas";
}

<div class="text-center">
    <div class="d-grig gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-success" role="button" asp-controller="Tarefa" asp-action="Criar">Adicionar Nova Tarefa </a>
    </div>
    <br />

    <h1>Listagem de Tarefas</h1>

    <table class="table table-hover" id="table-tarefas">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data Cadastro</th>
                <th scope="col">Data  Entrega</th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (TarefaModel tarefa in Model)
                {

                    <tr>
                        <th scope="row">@tarefa.Id</th>
                        <td>@tarefa.Descricao</td>
                        <td>@tarefa.DataAtribuicao</td>
                        <td>@tarefa.DataConclusao</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-success"asp-route-id="@tarefa.Id" asp-controller="Tarefa" asp-action="Editar">Editar</a>
                                &nbsp
                                <a class="btn btn-danger btn-block " asp-route-id="@tarefa.Id" role="button" asp-controller="Tarefa" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>

                }
            }
        </tbody>
    </table>

</div>
